extends ../layouts/default
append appendVars
   - seo_desc = result.product.seo_desc || result.product.name
   - seo_title = result.product.seo_title || result.product.name
   - thumb_url = result.product.thumb_url

block css
   style
     include ../../../public/resources/css/product.css
     include ../../../public/resources/css/shareIcons.css

block mainContent
  -url = host + req.originalUrl
  - product = result.product
  - today = new Date(req.app.get('moment')().zone(330))
  - today.setDate(today.getDate() + 2);
  if !checkin
    -checkin = ("0" + today.getDate()).slice(-2);
    -checkin += '-';
    -checkin += ("0" + (today.getMonth() + 1)).slice(-2);
    -checkin += '-';
    -checkin += today.getFullYear();
  #traveltour-page-wrapper.traveltour-page-wrapper.row
    .product-mobile-tabs.visible-xs
        a.tr-productTab.ripple.link-tab.js-nav(href='#itinerary', title='Itinerary', data-ripple-color='#E90A61')
          div
            svg(viewbox='0 0 485.211 485.21', height='20', width='20')
              g
                path(fill-rule='evenodd', clip-rule='evenodd', fill='#302d2d', stroke='undefined', stroke-width='undefined', d='M198.008,313.767l11.252,28.138c-10.897,4.354-21.765,7.672-32.368,9.89l-6.191-29.669 C179.587,320.253,188.767,317.444,198.008,313.767z M107.77,350.109c11.105,3.197,22.806,4.915,34.768,5.092l0.476-30.322 c-9.301-0.153-18.333-1.451-26.861-3.906L107.77,350.109z M346.552,297.184c8.741,1.723,17.268,4.714,25.352,8.887l13.927-26.948 c-10.665-5.479-21.889-9.418-33.412-11.672L346.552,297.184z M283.294,272.309l9.068,28.903c9.264-2.903,18.421-4.737,27.241-5.447 l-2.422-30.209C306.102,266.447,294.7,268.729,283.294,272.309z M234.611,295.113c-3.404,2.133-6.753,4.083-10.041,5.922 l14.75,26.481c3.701-2.082,7.491-4.266,11.28-6.637c5.214-3.229,10.31-6.104,15.313-8.653l-13.773-27.004 C246.457,288.125,240.59,291.412,234.611,295.113z M318.423,106.14c0,12.379-2.968,24.107-8.237,34.415l-67.579,132.374 c0,0-68.114-133.474-68.38-134.033c-4.77-9.892-7.432-21.028-7.432-32.756c0-41.875,33.937-75.814,75.812-75.814 C284.479,30.326,318.423,64.265,318.423,106.14z M288.097,106.14c0-25.114-20.377-45.49-45.49-45.49 c-25.114,0-45.49,20.376-45.49,45.49c0,25.111,20.376,45.487,45.49,45.487C267.72,151.627,288.097,131.251,288.097,106.14z M394.235,181.954h-71.131l-15.495,30.327h64.77l32.726,98.205l-10.454,11.551c11.136,10.062,16.909,19.336,16.941,19.368 l3.197-1.923l28.343,85.076H42.053l30.387-91.063c1.066,0.741,1.893,1.451,3.078,2.188l16.113-25.646 c-3.614-2.282-6.576-4.532-9.183-6.632l30.388-91.125h64.795c-6.427-12.559-11.491-22.477-15.488-30.327H90.978L0,454.885h485.211 L394.235,181.954z')
            small Itinerary
        a.tr-productTab.ripple.link-tab.js-nav(href='#gallery', title='Photos and Images of Barot River Camping', data-ripple-color='#E90A61')
          div
            svg(viewbox='0 0 150 125', height='20', width='20')
              g
                path(fill-rule='evenodd', clip-rule='evenodd', fill='#302d2d', stroke='#333', stroke-width='2', d='M24,37.9999862 L133,37.9999862 L133,117.999959 L24,117.999959 L24,37.9999862 Z M23.9555722,92.8668436 L0.265272939,34.3941362 L94.2863091,0.868799302 L109.51213,38.8347188')
                path(fill-rule='evenodd', clip-rule='evenodd', fill='#302d2d', stroke='none', stroke-width='2', d='M41.316,103.379 C47.608,96.631 53.44,90.372 59.406,83.973 C63.332,86.448 67.098,88.82 71.277,91.454 C78.566,80.964 85.785,70.576 93.241,59.846 C95.612,64.283 97.796,68.364 100.054,72.587 C102.616,71.788 104.992,71.047 107.874,70.147 C111.363,81.227 114.806,92.162 118.338,103.379 L41.316,103.379 L41.316,103.379 Z')
                path(fill-rule='evenodd', clip-rule='evenodd', fill='#302d2d', stroke='none', stroke-width='2', d='M41.507,63.657 C41.544,58.602 45.7,54.554 50.802,54.602 C55.757,54.649 60.241,59.091 60.093,63.805 C59.937,68.771 55.681,72.657 50.478,72.587 C45.487,72.521 41.47,68.523 41.507,63.657 L41.507,63.657 Z')
            small Photos
        a.tr-productTab.ripple.link-tab.js-nav(href='#enquire', title='Equire tour for Barot River Camping', data-ripple-color='#E90A61')
          div
            svg(viewbox='0 0 15.999 15.999', height='20', width='20')
              g
                path(fill-rule='evenodd', clip-rule='evenodd', fill='#302d2d', stroke='none', stroke-width='2', d='M10.339,14.024C10.333,14.026,9.78,14.21,9.3,14.21c-0.265,0-0.372-0.055-0.406-0.079 c-0.168-0.117-0.48-0.336,0.054-1.4l1-1.994c0.593-1.184,0.681-2.329,0.245-3.225c-0.356-0.733-1.039-1.236-1.92-1.416 C7.956,6.031,7.634,5.999,7.315,5.999c-1.849,0-3.094,1.08-3.146,1.126C3.99,7.283,3.948,7.545,4.067,7.751 c0.12,0.206,0.367,0.3,0.595,0.222c0.005-0.002,0.559-0.187,1.039-0.187c0.263,0,0.369,0.055,0.402,0.078 c0.169,0.118,0.482,0.34-0.051,1.402l-1,1.995c-0.594,1.185-0.681,2.33-0.245,3.225c0.356,0.733,1.038,1.236,1.921,1.416 c0.314,0.063,0.636,0.097,0.954,0.097c1.85,0,3.096-1.08,3.148-1.126c0.179-0.157,0.221-0.42,0.102-0.626 C10.812,14.042,10.563,13.95,10.339,14.024z')
                path(fill-rule='evenodd', clip-rule='evenodd', fill='#302d2d', stroke='none', stroke-width='2', d='M7,2.5a2.5,2.5 0 1,0 5,0a2.5,2.5 0 1,0 -5,0')
            small Enquire
        a.tr-productTab.ripple.link-tab.js-nav(href='#book', title='Book tour for Barot River Camping', data-ripple-color='#E90A61')
          div  
            svg(viewbox='0 0 99.055 98.901', height='20', width='20')
              g
                path(fill-rule='evenodd', clip-rule='evenodd', fill='#302d2d', stroke='undefined', stroke-width='undefined', d='M4.973,48.866C5.31,23.357,25.314,4.314,51.768,4.98   c23.894,0.602,43.207,21.508,42.287,46.433C93.188,74.896,72.97,94.355,48.732,93.931C24.019,93.5,4.647,73.549,4.973,48.866z    M49.658,87.703c20.806-0.095,38.192-17.578,38.111-38.323c-0.081-20.889-17.408-38.262-38.174-38.274   c-21.062-0.013-38.565,17.59-38.367,38.582C11.427,70.572,28.841,87.798,49.658,87.703z')
                path(fill-rule='evenodd', clip-rule='evenodd', fill='#302d2d', stroke='undefined', stroke-width='undefined', d='M43.862,53.686c3.21-3.787,12.224-12.342,15.237-15.896   c2.19-2.583,3.903-1.257,5.806,0.521c2.063,1.928,1.377,3.319-0.336,4.942c-4.469,4.234-14.94,13.473-19.243,17.874   c-2.042,2.089-3.64,1.742-5.438-0.107c-1.392-1.431-2.885-2.764-4.256-4.215c-1.71-1.811-4.501-3.183-1.271-6.345   c2.798-2.738,4.533-1.609,6.506,0.657C41.293,51.607,41.856,51.978,43.862,53.686z')
            small Book


    .tourmaster-single-header.tourmaster-start-script(style='background-image: url("#{product.image_url}");')
      .tourmaster-single-header-background-overlay
      .tourmaster-single-header-top-overlay
      .tourmaster-single-header-overlay
      .tourmaster-single-header-container.tourmaster-container
        .tourmaster-single-header-container-inner
          .tourmaster-single-header-title-wrap.tourmaster-item-pdlr
            h1.tourmaster-single-header-title #{product.name}
            .tourmaster-tour-rating
              i.fa.fa-star
              i.fa.fa-star
              i.fa.fa-star
              i.fa.fa-star
              i.fa.fa-star-half-o
              span.tourmaster-tour-rating-text (1 Review)
          .tourmaster-header-price.tourmaster-item-mglr
            .tourmaster-header-price-ribbon #{Math.ceil((product.base_price-product.offer_price)*100/product.base_price)}% Off
            .tourmaster-header-price-wrap
              .tourmaster-header-price-overlay
              .tourmaster-tour-price-wrap.tourmaster-discount
                span.tourmaster-tour-price
                  span.tourmaster-head From
                  span.tourmaster-tail 
                  span.fas.fa-rupee-sign 
                  span #{product.base_price}
                span.tourmaster-tour-discount-price 
                span.fas.fa-rupee-sign 
                span #{product.offer_price}
                span.fa.fa-info-circle.tourmaster-tour-price-info(data-rel='tipsy', original-title='The initial price based on 1 adult with the lowest price in low season')
    .tourmaster-template-wrapper(style='min-height: 1235px;')
      .tourmaster-tour-booking-bar-container.tourmaster-container
        .tourmaster-tour-booking-bar-container-inner
          .tourmaster-tour-booking-bar-anchor.tourmaster-item-mglr(style='margin-top: -177px;')
          #tourmaster-tour-booking-bar-wrap.tourmaster-tour-booking-bar-wrap.tourmaster-item-mglr.tourmaster-start-script.hidden-xs(style='margin-top: -177px;')
            .tourmaster-tour-booking-bar-outer.booking-card
              .tourmaster-header-price.tourmaster-item-mglr
                .tourmaster-header-price-ribbon #{Math.ceil((product.base_price-product.offer_price)*100/product.base_price)}% Off
                .tourmaster-header-price-wrap
                  .tourmaster-header-price-overlay
                  .tourmaster-tour-price-wrap.tourmaster-discount
                    span.tourmaster-tour-price
                      span.tourmaster-head From
                      span.fas.fa-rupee-sign
                      span.tourmaster-tail #{product.base_price}
                    span.fas.fa-rupee-sign(style="font-size: 2.2em")
                    span.tourmaster-tour-discount-price #{product.offer_price}
                    span.fa.fa-info-circle.tourmaster-tour-price-info(data-rel='tipsy', original-title='The initial price based on 1 adult with the lowest price in low season')
              .tourmaster-tour-booking-bar-inner.card.content
                .tourmaster-booking-tab-content.tourmaster-active
                      label.date-container
                        .small Pick your Start Date
                        input.form-control.js-startDate(type="text" placeholder="dd-mm-yyyy" data-date-format="dd-mm-yyyy" name="start_date" value="#{checkin}")
                    section
                      .small Package Cost Calculator/ Group offer
                      .row.text-center
                        .col-xs-3
                          div
                            small Price
                          .js-offer ₹#{parseInt(product.offer_price)}
                        .col-xs-5
                          div
                            small Travellers
                          div
                            input.js-priceFactor.js-count(type="hidden" name="travellers" placeholder="Your Group size" value="#{product.travellers}")
                            .qty-icon.js-qIcon(data-type="minus" style="display:inline ; margin-right:5px") -
                            .qty.js-quantity(style="display:inline;margin-right:5px") #{product.travellers}
                            .qty-icon.js-qIcon(data-type="plus" style="display:inline;") +
                        .col-xs-4
                          div
                            small Total
                          div ₹
                            span.js-total #{product.travellers * parseInt(product.offer_price)}
                    .js-book.tr-bookNow(data-slug="#{product.slug}")
                      .booking-btn
                        .err-txt.js-bookStatus
                        .btn.lg.btn-primary Proceed Booking
                  .tourmaster-lightbox-content-wrap(data-tmlb-id='proceed-without-login')
                    .tourmaster-lightbox-head
                      h3.tourmaster-lightbox-title Proceed Booking
            .tourmaster-tour-booking-bar-widget.traveltour-sidebar-area.hidden-xs
              #text-11.widget.widget_text.traveltour-widget
                .textwidget
                  .gdlr-core-space-shortcode(style='margin-top: -20px;')
                  #gdlr-core-widget-list-0.gdlr-core-widget-list-shortcode
                    h3.gdlr-core-widget-list-shortcode-title Why Book With Us?
                    ul
                      li
                        i.fa.fa-dollar(style='font-size: 15px;color: #ffa127;margin-right: 13px;')
                        | No-hassle best price guarantee
                      li
                        i.fa.fa-headphones(style='font-size: 15px;color: #ffa127;margin-right: 10px;')
                        | Customer care available 24/7
                      li
                        i.fa.fa-star(style='font-size: 15px;color: #ffa127;margin-right: 10px;')
                        | Hand-picked Tours & Activities

            #text-12.widget.widget_text.traveltour-widget.hidden-xs
              .textwidget
                .gdlr-core-space-shortcode(style='margin-top: -10px;')
                .gdlr-core-widget-box-shortcode(style='color: #c9e2ff;background-image: url(https://cdn.goodlayers.com/traveltour/wp-content/uploads/2017/01/widget-bg.jpg);')
                  h3.gdlr-core-widget-box-shortcode-title#query(style='color: #ffffff;') Get a Question?
                  .gdlr-core-widget-box-shortcode-content
                    p
                      | Do not hesitate to give us a call. We are an expert team and we are happy to talk to you.
                    p
                      i.fa.fa-phone(style='font-size: 20px;color: #ffcf2a;margin-right: 10px;')
                      span(style='font-size: 20px; color: #ffcf2a; font-weight: 600;') +91-#{licensee.mobile}
                    p
                      i.fa.fa-envelope-o(style='font-size: 17px;color: #ffcf2a;margin-right: 10px;')
                      span(style='font-size: 14px; color: #fff; font-weight: 600;') #{licensee.email}

      .col-sm-8
        .gdlr-core-page-builder-body
          .gdlr-core-pbf-wrapper(style='padding: 0px 0px 0px 0px;')
            .gdlr-core-pbf-wrapper-content.gdlr-core-js
              .gdlr-core-pbf-wrapper-container.clearfix.gdlr-core-pbf-wrapper-full
                .gdlr-core-pbf-element
                  .tourmaster-content-navigation-item-wrap.clearfix(style='padding-bottom: 0px;')
                    #tourmaster-content-navigation-item-outer.tourmaster-content-navigation-item-outer
                      .tourmaster-content-navigation-item-container.tourmaster-container
                        .tourmaster-content-navigation-item.tourmaster-item-pdlr
                          a.tourmaster-content-navigation-tab.tourmaster-active.tourmaster-slidebar-active(href='#detail', data-anchor='#detail') Detail
                          a.tourmaster-content-navigation-tab(href='#itinerary', data-anchor='#itinerary') Itinerary
                          a.tourmaster-content-navigation-tab(href='#map', data-anchor='#map') Map
                          a.tourmaster-content-navigation-tab(href='#photos', data-anchor='#photos') Photos
                          a.tourmaster-content-navigation-tab(href='#tourmaster-single-review', data-anchor='#tourmaster-single-review') Reviews
                          .tourmaster-content-navigation-slider(style='width: 91px; left: 20px;')
          #detail.gdlr-core-pbf-wrapper(style='padding: 70px 0px 30px 0px;', data-skin='Blue Icon')
            .gdlr-core-pbf-wrapper-content.gdlr-core-js
              .gdlr-core-pbf-wrapper-container.clearfix.gdlr-core-container
                .gdlr-core-pbf-element
                  .gdlr-core-title-item.gdlr-core-item-pdb.clearfix.gdlr-core-left-align.gdlr-core-title-item-caption-bottom.gdlr-core-item-pdlr(style='padding-bottom: 35px;')
                    .gdlr-core-title-item-title-wrap
                      h6.gdlr-core-title-item-title.gdlr-core-skin-title(style='font-size: 24px;font-weight: 600;letter-spacing: 0px;text-transform: none;')
                        span.gdlr-core-title-item-left-icon(style='font-size: 18px;')
                          i.fa.fa-file-text-o
                        | Tour Details
                        span.gdlr-core-title-item-title-divider.gdlr-core-skin-divider
                .gdlr-core-pbf-element
                  .gdlr-core-text-box-item.gdlr-core-item-pdlr.gdlr-core-item-pdb.gdlr-core-left-align
                    .gdlr-core-text-box-item-content
                      p #{product.desc}
                .gdlr-core-pbf-element
                  .gdlr-core-divider-item.gdlr-core-item-pdlr.gdlr-core-item-pdb.gdlr-core-divider-item-normal(style='padding-bottom: 19px;')
                    .gdlr-core-divider-line.gdlr-core-skin-divider
                .gdlr-core-pbf-column.gdlr-core-column-30.gdlr-core-column-first
                  .gdlr-core-pbf-column-content-margin.gdlr-core-js
                    .gdlr-core-pbf-column-content.clearfix.gdlr-core-js
                      .gdlr-core-pbf-element
                        .gdlr-core-title-item.gdlr-core-item-pdb.clearfix.gdlr-core-left-align.gdlr-core-title-item-caption-top.gdlr-core-item-pdlr(style='padding-bottom: 0px;')
                          .gdlr-core-title-item-title-wrap
                            h3.gdlr-core-title-item-title.gdlr-core-skin-title(style='font-size: 15px;font-weight: 500;letter-spacing: 0px;text-transform: none;')
                              | Trip Duration
                              span.gdlr-core-title-item-title-divider.gdlr-core-skin-divider
                .gdlr-core-pbf-column.gdlr-core-column-30
                  .gdlr-core-pbf-column-content-margin.gdlr-core-js
                    .gdlr-core-pbf-column-content.clearfix.gdlr-core-js
                      .gdlr-core-pbf-element
                        .gdlr-core-text-box-item.gdlr-core-item-pdlr.gdlr-core-item-pdb.gdlr-core-left-align(style='padding-bottom: 0px;')
                          .gdlr-core-text-box-item-content
                            p #{product.duration}
                .gdlr-core-pbf-element
                  .gdlr-core-divider-item.gdlr-core-item-pdlr.gdlr-core-item-pdb.gdlr-core-divider-item-normal(style='padding-bottom: 19px;')
                    .gdlr-core-divider-line.gdlr-core-skin-divider
                .gdlr-core-pbf-column.gdlr-core-column-30.gdlr-core-column-first
                  .gdlr-core-pbf-column-content-margin.gdlr-core-js
                    .gdlr-core-pbf-column-content.clearfix.gdlr-core-js
                      .gdlr-core-pbf-element
                        .gdlr-core-title-item.gdlr-core-item-pdb.clearfix.gdlr-core-left-align.gdlr-core-title-item-caption-top.gdlr-core-item-pdlr(style='padding-bottom: 0px;')
                          .gdlr-core-title-item-title-wrap
                            h3.gdlr-core-title-item-title.gdlr-core-skin-title(style='font-size: 15px;font-weight: 500;letter-spacing: 0px;text-transform: none;')
                              | Group size of for confirm booking
                              span.gdlr-core-title-item-title-divider.gdlr-core-skin-divider
                .gdlr-core-pbf-column.gdlr-core-column-30
                  .gdlr-core-pbf-column-content-margin.gdlr-core-js
                    .gdlr-core-pbf-column-content.clearfix.gdlr-core-js
                      .gdlr-core-pbf-element
                        .gdlr-core-text-box-item.gdlr-core-item-pdlr.gdlr-core-item-pdb.gdlr-core-left-align(style='padding-bottom: 0px;')
                          .gdlr-core-text-box-item-content
                            p #{product.travellers} Adults

                .gdlr-core-pbf-element
                  .gdlr-core-divider-item.gdlr-core-item-pdlr.gdlr-core-item-pdb.gdlr-core-divider-item-normal(style='padding-bottom: 19px;')
                    .gdlr-core-divider-line.gdlr-core-skin-divider
                .gdlr-core-pbf-column.gdlr-core-column-30.gdlr-core-column-first
                  .gdlr-core-pbf-column-content-margin.gdlr-core-js
                    .gdlr-core-pbf-column-content.clearfix.gdlr-core-js
                      .gdlr-core-pbf-element
                        .gdlr-core-title-item.gdlr-core-item-pdb.clearfix.gdlr-core-left-align.gdlr-core-title-item-caption-top.gdlr-core-item-pdlr(style='padding-bottom: 0px;')
                          .gdlr-core-title-item-title-wrap
                            h3.gdlr-core-title-item-title.gdlr-core-skin-title(style='font-size: 15px;font-weight: 500;letter-spacing: 0px;text-transform: none;')
                              | Pick up Point
                              span.gdlr-core-title-item-title-divider.gdlr-core-skin-divider
                .gdlr-core-pbf-column.gdlr-core-column-30
                  .gdlr-core-pbf-column-content-margin.gdlr-core-js
                    .gdlr-core-pbf-column-content.clearfix.gdlr-core-js
                      .gdlr-core-pbf-element
                        .gdlr-core-text-box-item.gdlr-core-item-pdlr.gdlr-core-item-pdb.gdlr-core-left-align(style='padding-bottom: 0px;')
                          .gdlr-core-text-box-item-content
                            p #{product.pickup || 'NA'}
                .gdlr-core-pbf-element
                  .gdlr-core-divider-item.gdlr-core-item-pdlr.gdlr-core-item-pdb.gdlr-core-divider-item-normal(style='padding-bottom: 19px;')
                    .gdlr-core-divider-line.gdlr-core-skin-divider
                if product.inclusions && product.inclusions.length
                  .gdlr-core-pbf-column.gdlr-core-column-30.gdlr-core-column-first
                    .gdlr-core-pbf-column-content-margin.gdlr-core-js
                      .gdlr-core-pbf-column-content.clearfix.gdlr-core-js
                        .gdlr-core-pbf-element
                          .gdlr-core-title-item.gdlr-core-item-pdb.clearfix.gdlr-core-left-align.gdlr-core-title-item-caption-top.gdlr-core-item-pdlr(style='padding-bottom: 0px;')
                            .gdlr-core-title-item-title-wrap
                              h3.gdlr-core-title-item-title.gdlr-core-skin-title(style='font-size: 15px;font-weight: 500;letter-spacing: 0px;text-transform: none;')
                                | Price Includes
                                span.gdlr-core-title-item-title-divider.gdlr-core-skin-divider
                  .gdlr-core-pbf-column.gdlr-core-column-30
                    .gdlr-core-pbf-column-content-margin.gdlr-core-js
                      .gdlr-core-pbf-column-content.clearfix.gdlr-core-js
                        .gdlr-core-pbf-element
                          .gdlr-core-icon-list-item.gdlr-core-item-pdlr.gdlr-core-item-pdb(style='padding-bottom: 10px;')
                            ul
                              -each inclusion in product.inclusions
                                -inclusionObj = req.app.get('helperUtils').getItemFromId(inclusion)
                                li.gdlr-core-skin-divider
                                  span.gdlr-core-icon-list-content  &#9755 #{inclusionObj.name} 
                          
                .gdlr-core-pbf-element
                  .gdlr-core-divider-item.gdlr-core-item-pdlr.gdlr-core-item-pdb.gdlr-core-divider-item-normal(style='padding-bottom: 19px;')
                    .gdlr-core-divider-line.gdlr-core-skin-divider
                if product.exclusions && product.exclusions.length
                  .gdlr-core-pbf-column.gdlr-core-column-30.gdlr-core-column-first
                    .gdlr-core-pbf-column-content-margin.gdlr-core-js
                      .gdlr-core-pbf-column-content.clearfix.gdlr-core-js
                        .gdlr-core-pbf-element
                          .gdlr-core-title-item.gdlr-core-item-pdb.clearfix.gdlr-core-left-align.gdlr-core-title-item-caption-top.gdlr-core-item-pdlr(style='padding-bottom: 0px;')
                            .gdlr-core-title-item-title-wrap
                              h3.gdlr-core-title-item-title.gdlr-core-skin-title(style='font-size: 15px;font-weight: 500;letter-spacing: 0px;text-transform: none;')
                                | Price Excludes
                                span.gdlr-core-title-item-title-divider.gdlr-core-skin-divider
                  .gdlr-core-pbf-column.gdlr-core-column-30
                    .gdlr-core-pbf-column-content-margin.gdlr-core-js
                      .gdlr-core-pbf-column-content.clearfix.gdlr-core-js
                        .gdlr-core-pbf-element
                          .gdlr-core-icon-list-item.gdlr-core-item-pdlr.gdlr-core-item-pdb(style='padding-bottom: 10px;')
                            ul
                              -each exclusion in product.exclusions
                                -exclusionObj = req.app.get('helperUtils').getItemFromId(exclusion)
                                li.gdlr-core-skin-divider
                                  span.gdlr-core-icon-list-content #{exclusionObj.name}
                .gdlr-core-pbf-element
                  .gdlr-core-divider-item.gdlr-core-item-pdlr.gdlr-core-item-pdb.gdlr-core-divider-item-normal(style='padding-bottom: 19px;')
                    .gdlr-core-divider-line.gdlr-core-skin-divider

                .gdlr-core-pbf-element
                  .gdlr-core-divider-item.gdlr-core-item-pdlr.gdlr-core-item-pdb.gdlr-core-divider-item-normal(style='padding-bottom: 45px;')
                    .gdlr-core-divider-line.gdlr-core-skin-divider
                .gdlr-core-pbf-element
                  .gdlr-core-divider-item.gdlr-core-item-pdlr.gdlr-core-item-pdb.gdlr-core-divider-item-normal(style='padding-bottom: 15px;')
                    .gdlr-core-divider-line.gdlr-core-skin-divider
          #itinerary.gdlr-core-pbf-wrapper(style='padding: 20px 0px 30px 0px;', data-skin='Blue Icon')
            .gdlr-core-pbf-wrapper-content.gdlr-core-js
              .gdlr-core-pbf-wrapper-container.clearfix.gdlr-core-container !{product.itinerary}
                .gdlr-core-pbf-element
                  .gdlr-core-divider-item.gdlr-core-item-pdlr.gdlr-core-item-pdb.gdlr-core-divider-item-normal(style='padding-bottom: 25px;')
                    .gdlr-core-divider-line.gdlr-core-skin-divider(style='border-bottom-width: 2px;')
          #tourmaster-tour-booking-bar-wrap.tourmaster-tour-booking-bar.visible-xs
            .tourmaster-tour-booking-bar-outer.booking-card
              .tourmaster-header-price.tourmaster-item-mglr
                .tourmaster-header-price-ribbon#book #{Math.ceil((product.base_price-product.offer_price)*100/product.base_price)}% Off
                .tourmaster-header-price-wrap
                  .tourmaster-header-price-overlay
                  .tourmaster-tour-price-wrap.tourmaster-discount
                    span.tourmaster-tour-price
                      span.tourmaster-head From
                      span.fas.fa-rupee-sign
                      span.tourmaster-tail #{product.base_price}
                    span.fas.fa-rupee-sign(style="font-size: 2.2em")
                    span.tourmaster-tour-discount-price #{product.offer_price}
                    span.fa.fa-info-circle.tourmaster-tour-price-info(data-rel='tipsy', original-title='The initial price based on 1 adult with the lowest price in low season')
              .tourmaster-tour-booking-bar-inner.card.content
                .tourmaster-booking-tab-content.tourmaster-active
                  section
                    label.date-container
                      .small Pick your Start Date
                      input.form-control.js-startDate(type="text" placeholder="dd-mm-yyyy" data-date-format="dd-mm-yyyy" name="start_date" value="#{checkin}")
                  section
                    .small Package Cost Calculator/ Group offer
                    .row.text-center
                      .col-xs-3
                        div
                          small Price
                        .js-offer ₹#{parseInt(product.offer_price)}
                      .col-xs-5
                        div
                          small Travellers
                        div
                          input.js-priceFactor.js-count(type="hidden" name="travellers" placeholder="Your Group size" value="#{product.travellers}")
                          .qty-icon.js-qIcon(data-type="minus" style="display:inline ; margin-right:5px") -
                          .qty.js-quantity(style="display:inline;margin-right:5px") #{product.travellers}
                          .qty-icon.js-qIcon(data-type="plus" style="display:inline;") +
                      .col-xs-4
                        div
                          small Total
                        div ₹
                          span.js-total #{product.travellers * parseInt(product.offer_price)}
                  .js-book.tr-bookNow(data-slug="#{product.slug}")
                    .booking-btn
                      .err-txt.js-bookStatus
                      .btn.lg.btn-primary Proceed Booking
                .tourmaster-lightbox-content-wrap(data-tmlb-id='proceed-without-login')
                  .tourmaster-lightbox-head
                    h3.tourmaster-lightbox-title Proceed Booking
          
          .tourmaster-tour-booking-bar-widget.traveltour-sidebar-area.visible-xs(style="margin-bottom: 10px;")
              #text-11.widget.widget_text.traveltour-widget
                .textwidget
                  .gdlr-core-space-shortcode(style='margin-top: -20px;')
                  #gdlr-core-widget-list-0.gdlr-core-widget-list-shortcode
                    h3.gdlr-core-widget-list-shortcode-title Why Book With Us?
                    ul
                      li
                        i.fa.fa-dollar(style='font-size: 15px;color: #ffa127;margin-right: 13px;')
                        | No-hassle best price guarantee
                      li
                        i.fa.fa-headphones(style='font-size: 15px;color: #ffa127;margin-right: 10px;')
                        | Customer care available 24/7
                      li
                        i.fa.fa-star(style='font-size: 15px;color: #ffa127;margin-right: 10px;')
                        | Hand-picked Tours & Activities

          #text-12.widget.widget_text.traveltour-widget.visible-xs
              .textwidget#enquire(style="margin-bottom: 20px;")
                .gdlr-core-space-shortcode(style='margin-bottom: 10px;')
                .gdlr-core-widget-box-shortcode(style='color: #c9e2ff;background-image: url(https://cdn.goodlayers.com/traveltour/wp-content/uploads/2017/01/widget-bg.jpg);')
                  h3.gdlr-core-widget-box-shortcode-title#query(style='color: #ffffff;') Get a Question?
                  .gdlr-core-widget-box-shortcode-content
                    p
                      | Do not hesitate to give us a call. We are an expert team and we are happy to talk to you.
                    p
                      i.fa.fa-phone(style='font-size: 20px;color: #ffcf2a;margin-right: 10px;')
                      span(style='font-size: 20px; color: #ffcf2a; font-weight: 600;') +91-#{licensee.mobile}
                    p
                      i.fa.fa-envelope-o(style='font-size: 17px;color: #ffcf2a;margin-right: 10px;')
                      span(style='font-size: 14px; color: #fff; font-weight: 600;') #{licensee.email}

          #photos.gdlr-core-pbf-wrapper(style='padding: 0px 0px 30px 0px;', data-skin='Blue Icon')
            .gdlr-core-pbf-wrapper-content.gdlr-core-js
              .gdlr-core-pbf-wrapper-container.clearfix.gdlr-core-container
                .gdlr-core-pbf-element
                  .gdlr-core-title-item.gdlr-core-item-pdb.clearfix.gdlr-core-left-align.gdlr-core-title-item-caption-bottom.gdlr-core-item-pdlr(style='padding-bottom: 35px;')
                    .gdlr-core-title-item-title-wrap
                      h6.gdlr-core-title-item-title.gdlr-core-skin-title(style='font-size: 24px;font-weight: 600;letter-spacing: 0px;text-transform: none;')
                        span.gdlr-core-title-item-left-icon#gallery(style='font-size: 18px;')
                          i.far.fa-image
                        | Photos
                        span.gdlr-core-title-item-title-divider.gdlr-core-skin-divider
                    if product.images && product.images.length
                      .row
                        -each photo in product.images
                          .col-sm-4
                            .img-cont
                              img(src="#{photo.image_url}"  alt="#{photo.caption}")
          
          .blank.hidden-xs(style="position: fixed") 
            .share
              a.fb(href="https://www.facebook.com/share.php?u=https://#{licensee.domain+'/plan/'+ product.slug}" target="_blank")
                i.fa.fa-facebook
              //a.vk(href='https://www.facebook.com')
                i.fa.fa-vk
              a.tt(href= "http://twitter.com/share?text=#{product.name}&url=https://#{licensee.domain+'/plan/'+ product.slug}" target="_blank")
                i.fa.fa-twitter
              a.gp(href= "https://plus.google.com/share?url=https://#{licensee.domain+'/plan/'+ product.slug}" title="Share on Google+" channel="google" element="Widget" class="tr-share social-connect-link google js-social-refer" target="_blank")
                i.fa.fa-google-plus
              |share

    .col-sm-12(id="reviews")
      div(data-repuso-grid="#{licensee.repuso_grid_number}" data-website-id="#{licensee.repuso_website_id}")
      script(type="text/javascript" src="https://repuso.com/widgets/grid.js" async)
    .tourmaster-single-related-tour.tourmaster-tour-item.tourmaster-style-grid
      .tourmaster-single-related-tour-container.tourmaster-container
        h3.tourmaster-single-related-tour-title.tourmaster-item-pdlr Related Tours

block js
  script.
    TDG.defaultDate = new Date("#{today}");
    TDG.productPrice = parseInt("#{product.offer_price}");
    TDG.discount = parseInt("#{product.base_price - product.offer_price}");
    TDG.plan = parseInt("#{product.plan_id}");
  script
    include ../../../public/resources/js/fragments/product.js