-licensee = result.licensee
- pages = result.pages

footer.footer.row
	.content-wrapper
		.col-sm-4
			h3 #{licensee.name}
			.social-links
				a.social-link.light(href='https://www.facebook.com/#{licensee.facebook}' title="Find travel d'globe on Facebook" target='_blank')
					mixin paintIcon('facebook',{size:{x:24,y:24}})
				a.social-link.light(href='https://twitter.com/#{licensee.twitter}' title="Find travel d'globe on Facebook" target='_blank')
					mixin paintIcon('twitter',{size:{x:24,y:24}})
				a.social-link.light(href='https://www.instagram.com/#{licensee.instagram}' title="Find travel d'globe on Facebook" target='_blank')
					mixin paintIcon('instagram',{size:{x:24,y:24}})
				a.social-link.light(href='https://www.pinterest.com/#{licensee.pinterest}' title="Find travel d'globe on Facebook" target='_blank')
					mixin paintIcon('pinterest',{size:{x:24,y:24}})
				a.social-link.light(href='https://www.youtube.com/#{licensee.youtube}' title="Find travel d'globe on Facebook" target='_blank')
					mixin paintIcon('youtube',{size:{x:24,y:24}})
		.col-sm-4
			aside#facebook-likebox-3.widget.widget_facebook_likebox
				#fb-root
				.fb-page(data-href='https://www.facebook.com/#{licensee.facebook}/', data-width='340', data-height='432', data-hide-cover='false', data-show-facepile='true', data-show-posts='false')
					.fb-xfbml-parse-ignore
						blockquote(cite='https://www.facebook.com/#{licensee.facebook}/')
							a(href='https://www.facebook.com/#{licensee.facebook}/') Did you liked us?
		.col-sm-4
			- licensee.address = licensee.address.replace(/\n/g, '<br />' );
			h3 Address
			address !{licensee.address}
			h3 Email:
			div
				a.light(href="mailto:#{licensee.email}") #{licensee.email}
			h3 Call Us On
			div
				a.light(href="tel:+91-#{licensee.mobile}") #{licensee.mobile}

		.col-sm-12
			.traveltour-copyright-wrapper
				.row
					.col-sm-6
						.traveltour-copyright-text.traveltour-item-pdlr
							h5 All Right Reserved &copy; #{licensee.name}
							.caption Powered by traveldglobe.com
					.col-sm-6.text-right
						.traveltour-copyright-container.traveltour-container
							.payment-icons
								h5.font-weight-fix
									span.fas.fa-rupee-sign
									| Payments We Process
								i.fab.fa-cc-visa
								i.fab.fa-cc-mastercard
								i.fab.fa-cc-amex
								i.fab.fa-cc-paypal




