extends ../layouts/default

append vars
   - hideFooter = true

block mainContent
   .row
      .content-wrapper.sm
         .col-sm-8.col-sm-offset-2
            .card.text-center.content
               mixin paintIcon('circleTick')
               h1 Great!
               h1 Your booking has been successfully placed.

            .card.text-center.content
               h3(style="margin:40px 0; padding-bottom:10px;border-bottom:1px solid #eee;") Your booking id is&nbsp;
                  strong #{result.booking.booking_id}.
                  .inline-block We have received the advance of ₹&nbsp;#{result.booking.paid} for your booking for #{result.booking.travellers} traveller(s), please relax our team will reach you for confirmation in few minutes
               .row
                  .col-sm-6.text-left
                     h4 Traveller Details
                     div(style="margin-bottom:15px;")
                        div #{result.booking.user.name}
                        div #{result.booking.user.email}
                        div #{result.booking.user.mobile}
                     if result.travellers
                        div No. of Travellers: #{result.booking.travellers}
                  .col-sm-6.text-left
                     div(style="margin-bottom:15px;font-size:16px")
                        div(style="padding:5px 0;") Amount Paid: ₹&nbsp;#{result.booking.paid}
                        div(style="padding:5px 0;") Balance to pay: ₹&nbsp;#{result.booking.total_price- result.booking.paid}

         .col-sm-8.col-sm-offset-2
            div(style="margin-bottom:15px;")
         .col-sm-8.col-sm-offset-2.text-center
            p Incase you have any questions or concerns please reach out to us&nbsp;
               br
               a(href="mailto:#{result.licensee.email}") #{result.licensee.email}
            div Thank you for sharing the love for travel.
