head(itemscope itemtype="http://schema.org/WebSite")

  //mixin metaTitle(seo_data.title)
  mixin metaTitle(result.licensee.name)
  meta(name="google-site-verification" content="#{result.licensee.google_site_verification}")

  - if(noIndex)
    meta(name="robots", content="noindex, nofollow, noarchive")
  - else
    meta(name="robots", content="index, follow, noarchive")
  meta(http-equiv="Content-Type", content="text/html; charset=UTF-8")
  meta(charset="UTF-8")
  //mixin metaDescription(seo_data.description)
  mixin metaDescription(result.licensee.name)
  mixin metaKeywords(seo_data.keywords)
  meta(name="viewport" content="width=device-width, initial-scale=1")
  meta(http-equiv="x-dns-prefetch-control" content="on")
  link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
  script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js')
  script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')

  link(rel="dns-prefetch" href="http://www.res.cloudinary.com")
  link(href='https://fonts.googleapis.com/icon?family=Material+Icons', rel='stylesheet')
  link(href='https://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css', rel='stylesheet')
  link(id='theme-addons-css', rel="stylesheet", href="http://cdn-adventure-tours.themedelight.com/wp-content/themes/adventure-tours/assets/csslib/theme-addons.min.css?ver=3.1.5" type="text/css" media="all")
  link(rel='stylesheet', href='https://use.fontawesome.com/releases/v5.0.8/css/all.css', integrity='sha384-3AB7yXWz4OeoZcPbieVW64vVXEwADiYyAEhwilzWsLw+9FgqpyjjStpPnpBO8o8S', crossorigin='anonymous')

  


  link(rel="dns-prefetch" href="#{static}")
  if result.licensee
    link(rel="shortcut icon"  href="https://graph.facebook.com/#{result.licensee.facebook}/picture?width=80&height=80")

  //mixin metaOG(seo_data, cannonical, author)
  mixin metaTemp(result.licensee)

  link( href='#{static}/resources/themes/#{result.licensee.theme}/style.css?v=1.1' rel="stylesheet" type="text/css")
  link( href='#{static}/resources/css/TDG.css' rel="stylesheet" type="text/css")
  meta(name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, user-scalable=0")
  if ENV == 'prod'
  block css